{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home Django App</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim incidunt iste perferendis architecto, corrupti quos laudantium nobis quam sit dolores ipsa, fuga, tenetur distinctio molestiae animi amet explicabo eius unde sapiente rem? Nobis ea maxime eveniet. Illum illo corrupti facilis debitis labore tempora cupiditate at magnam earum dolorum nulla laborum vel vitae, itaque impedit fugit quod vero nisi, mollitia dolore sint minus eligendi explicabo placeat. Magnam, iusto dolorem libero eos dicta nisi, vitae praesentium excepturi asperiores autem est amet consequuntur! Debitis quaerat alias exercitationem provident voluptatibus fugiat rerum odio animi incidunt doloremque delectus natus voluptate magni, quo quia et expedita?
    </p>

    <div class="text-center">
        <a class="btn btn-primary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-primary" href="/signup/">
            Singup
        </a>
    </div>

    </section>
</main>
{% endblock %}
